
*
 { margin: 0; 
  padding: 0;
  box-sizing: border-box; }


html, body, #root { height: 100%; }

body {
  background: #000; 
  color: #fff;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  line-height: 1.4;
}


.section { padding: 80px 20px; }


.container {
  max-width: 1100px;
  margin: 0 auto;
}

